body{
    background-color: bisque;
}



section{
    padding: 10em 1em;
}

img{
    display: block;
    max-width: 100%;
}


.section-title-intro{
    display: block;
    font-weight: 200;
}

.titi{
    font-size: 25px;
    background: rgb(137, 74, 74);
    background-size: cover;
    background-blend-mode: multiply;
    
    text-align: center;
}



.section-title-skills {
    position: relative;
    display: block;
}




.myskills {
    background: rgb(168, 159, 159);
    background-image: url(https://lh3.googleusercontent.com/Igy9McqJvyI6GXzYqkwBN_N_hSWeXyK1RugNvjFEt9kfjM3keX9XbRQsSk3GhcV3icXF8rolZWS1QXrBpjoMgEk0WdEqZ11N1VgwtJ40eQ1VF4sa-SHA1seyID6kr3E_YjK2KIrEYfi5tb1hYKJb1n6S54mwzMqN4lWxgj2uy7AMlgmEwKOZ6I0_3Ev17cAU2C9fJtp3rp54w0g6vhyH5wIhE7kSgbzndBsPNVjjMuU6iqfE5ZGg3IGZ0_JW5lqfrcRvybXs_wIWGhvLfNRgjnXZ-cB5nwWC4TqjhTDV86ZTUdDe2E2mgASF7b5nJn4RdFsQuZ8ylksXBwp-xq0S8o4PbufbHI4y0XImpvYsa_ewebZbiABYeNEaEN_cTrJ-mPZTM01w3nAzLZLUMI6bMt7MdbjIEX3Eik8WebHKfbGEsLM6Pk3jEykk2YfJhMei1L__vUsvJpUI47970BqamoUD2VJfVxlvZOE6bQPxBVLzgpL4dpfEml1SSvKI3K4AZaze-b9d-haQcDye8s048aqubPAnDG58wly1hv2cpsoEGaFgmgWWx2JckhmXVxeegkvan4yoPHoitulB5cs0IpvF8exgqcWzhniyVm6RsvamxFFRmYayiiu5GdUGC1Y4cazOUVClzG9ildntbioi4tMdTZ_zD8TyUeYLbE_HNloqfakF3i4WJ6tPTDDmzgm3Tmk_ty77Sy2fx3O8INL3WWM_liURuH39zlflj3ldrCSvYROR00muRXiQ-wqzWa7eSX9Fe3qCMZCQK_vke4N-DXGNVd2OtxKtzEZhpNJk9OEuc_3szKZ1k93iecDPxq4OgorJFH9NYdhHAWK-xbIriwl_9PO0Igthx0LQjxB2axGhfbva7jyyJ8SbEbdQrtgQ4a3gUYFCrfpQ9tZqN18d3WDcz_f-EUppRowZ5DXJCcPAWpDf_33PCImbpOZALqOB_sM-rwf5cxxaw4JkCW7veOQ=w522-h959-no?authuser=0);
    background-size: cover;
    background-blend-mode: multiply;
    color: rgb(106, 206, 205);
    text-align: center;
}
 

footer{
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}




